# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# IDEs
.idea/

# OS
.DS_Store
.env
/results/checkpoint-500/config.json
/results/checkpoint-1000/config.json
/results/checkpoint-500/generation_config.json
/results/checkpoint-1000/generation_config.json
/model.pt
/results/checkpoint-500/model.safetensors
/results/checkpoint-1000/model.safetensors
/results/checkpoint-500/optimizer.pt
/results/checkpoint-1000/optimizer.pt
/results/checkpoint-500/rng_state.pth
/results/checkpoint-1000/rng_state.pth
/results/checkpoint-500/scaler.pt
/results/checkpoint-1000/scaler.pt
/results/checkpoint-500/scheduler.pt
/results/checkpoint-1000/scheduler.pt
/results/checkpoint-500/trainer_state.json
/results/checkpoint-1000/trainer_state.json
/results/checkpoint-500/training_args.bin
/results/checkpoint-1000/training_args.bin
/model/gpt2/.gitattributes
/model/gpt2/64.tflite
/model/gpt2/config.json
/model/gpt2/coreml_model.mlmodel
/model/gpt2/flax_model.msgpack
/model/gpt2/generation_config.json
/model/gpt2/generation_config_for_text_generation.json
/model/gpt2/coreml/text-generation/float32_model.mlpackage/Manifest.json
/model/gpt2/merges.txt
/model/gpt2/coreml/text-generation/float32_model.mlpackage/Data/com.apple.CoreML/model.mlmodel
/model/gpt2/model.safetensors
/model/gpt2/pytorch_model.bin
/model/gpt2/README.md
/model/gpt2/rust_model.ot
/model/gpt2/tf_model.h5
/model/gpt2/tokenizer.json
/model/gpt2/tokenizer_config.json
/model/gpt2/vocab.json
/model/gpt2/coreml/text-generation/float32_model.mlpackage/Data/com.apple.CoreML/weights/weight.bin
/gpt2-finetuned/
/vllm-metal/
/vllm/
